@charset "utf-8";

/*

Theme Name: Spicy Brocoli Base Theme

Theme URI: http://spicybroccoli.com

Description: Spicy Broccoli template for WordPress sites. Good for you company's health!

Author: Spicy Broccoli Media

Author URI: http://spicybroccoli.com/

Version: 1.1

License: GNU General Public License v2 or later

License URI: http://www.gnu.org/licenses/gpl-2.0.html

*/

/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html

-------------------------------------------------------------- */



@import url(http://fonts.googleapis.com/css?family=News+Cycle);
html, body, div, span, applet, object, iframe,  h1, h2, h3, h4, h5, h6, p, blockquote, pre,  a, abbr, acronym, address, big, cite, code,  del, dfn, em, font, img, ins, kbd, q, s, samp,  small, strike, strong, sub, sup, tt, var,  b, u, i, center,  dl, dt, dd, ol, ul, li,  fieldset, form, label, legend,  table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	font-weight: normal;
	line-height: normal;
}
body {
	/* MAKE EM DEFAULT 10PX IT MEANS (1.4 EM IS 14PX, 2.5EM IS 25PX) */	

/* OBJECT / CONTEXT = RESULT */

	font-family: 'News Cycle', sans-serif;
	font-size: 62.5%;
	margin: 0;
}
/*FORM RESET*/

textarea, select,  input[type="date"], input[type="datetime"],  input[type="datetime-local"], input[type="email"],  input[type="month"], input[type="number"],  input[type="password"], input[type="search"],  input[type="tel"], input[type="text"],  input[type="submit"],  input[type="time"], input[type="url"], input[type="week"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	-webkit-appearance: none;
	background-color: #fff;
	border: 0;
	color: #000;
	outline: 0;
	margin: 0;
	padding: 0;
	text-align: left;
	vertical-align: middle;
} /* END FORM RESET*/
p {
	display: block;
	margin: 1em 0;
}
a {
	text-decoration: none;
	display: block;
}
ul, ol, li {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}
h1,  h2,  h3,  h4,  h5,  h6,  .h1,  .h2,  .h3,  .h4,  .h5,  .h6 {
	font-family: inherit;
	color: inherit;
	margin: 0;
	padding: 0;
	font-size: 3.6em;
}
.img-circular {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}
.img-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}
.container {
	margin: 0 auto;
	padding: 0 1.5em;
	overflow: hidden;
}
.main-container {
	padding-bottom: 7em;
}
.row {
	margin-right: -1.5em;
	margin-left: -1.5em;
}
.row-two-col {
	margin-right: -3em;
	margin-left: -3em;
}
/* MAKE EVERITHING BOXSIZINGBORDERBOX*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.col-size-1, .col-size-2, .col-size-3, .col-size-4 {
	float: left;
	padding: 0 1.5em;
	position: relative;
}
.col-size-1 {
	width: 25%;
}
.col-size-2 {
	width: 50%;
}
.col-size-3 {
	width: 75%;
}
.col-size-4 {
	width: 100%;
}
.col-left, .col-right {
	float: left;
	position: relative;
}
.col-left {
	width: 36em; /*360px*/
	padding-right: 6em;
}
.col-right {
	width: 62em; /*620px*/
}
.two-col {
	width: 50%;
	padding: 0 3em;
	float: left;
}
.container {
	width: 1010px;
}
#trigger {
	display: none;
	right: 0;
	position: absolute;
	z-index: 999;
	margin-top: 1.5em;
}

/* Small Devices, Tablets */

@media only screen and (max-width : 992px) {
.container {
	width: 100%;
}
#trigger {
	display: block;
}
}
/* Medium Devices, Desktops */



/* HEADER SECTION */

section#header .logo {
	margin: 3em 0 2.5em 0;
}
section#header .phone {
	font-size: 2em; /*20px*/
	font-weight: bold;
	float: right;
	margin-top: 0.8em;
}
section#header .phone span {
	color: #0457a9;
	font-weight: lighter;
}
section#header .search {
	margin-top: 2em;
	float: right;
}
section#header .search input[type="text"] {
	-webkit-appearance: none;
	appearance: none;
	border-radius: .5em;
	border: 0;
	background: url(images/magnifier.jpg) no-repeat right #fff;
	padding: 0.5em;
	background-position: 13.5em;
	padding-right: 2em;
}
section#header .search input[type="submit"] {
	display: none;
}
.main-menu {
	margin-top: 2.3em;
}
.main-menu a {
	color: #000;
}
.main-menu ul {
	float: right;
}
.main-menu ul > li {
	display: inline-table;
	margin: 0 2.5em;
}
.main-menu ul > li:last-child {
	display: inline-table;
	margin-right: 0;
}
.main-menu ul > li > a {
	font-size: 1.7em; /*17px*/
	display: block;
	border-bottom: 4px solid;
}
.main-menu ul > li.menu-item-15 > a {
	border-bottom-color: #9fcf67;
}
.main-menu ul > li.menu-item-45 > a,  .main-menu ul > li.menu-item-16 > a {
	border-bottom-color: #0055a5;
}
.main-menu ul > li.menu-item-17 > a {
	border-bottom-color: #00a890;
}
.main-menu ul > li.menu-item-13 > a {
	border-bottom-color: #00afef;
}
/* END HEADER SECTION */

/* SECTIONS CONFIGURATION */

#services.pg-home .container, #news.pg-home .container, #industry.pg-home .container, #testimonial.pg-home .container {
	padding-top: 14em;
	padding-bottom: 10em;
	background-repeat: no-repeat;
}
#contact-us.pg-home .container {
}
#contact-us .container {
	padding-top: 9em;
}
#services.pg-home h2, #news.pg-home h2, #industry.pg-home h2, #testimonial.pg-home h2, #contact-us.pg-home h2 {
	font-size: 5.4em;
}
#services.pg-home p, #news.pg-home p, #industry.pg-home p, #testimonial.pg-home p, #contact-us.pg-home p {
	font-size: 1.7em;
}
/* END SECTIONS CONFIGURATION */

/* SLIDER SECTION */

#slider {
	overflow: hidden;
}
#slider-internal {
	overflow: hidden;
	background: url(images/header_internal.jpg) no-repeat center center;
	background-size: cover;
	min-height: 14em;
	margin-bottom: 3.5em;
}
.metaslider .flexslider {
	margin: 0 !important;
}
/* SECTION SERVICES*/

#services h1, #services h2, #services h3, #services h4, #services h5,  .services-container h3 {
	color: #00a890;
}
#services.pg-home > .container {
	background-image: url(images/bgs/bg-our-services.png);
	background-position: 1.5em 6em;
}
.service-staff {
	overflow: auto;
}
.service-staff p, .service-staff img {
	float: left;
	font-weight: bold;
	line-height: 6.7em;
}
.service-staff img {
	padding: 1em;
}
#services .tiles > a:hover {
	border-top-color: #b6ec77;
}
/* END SECTION SERVICES*/

/* TILES */

ul#tiles {
}
.tiles {
	margin-bottom: 3em;
}
.tiles > a {
	font-size: 2em;
	width: 7em;/*140px*/
	height: 7em;/*140px*/
	float: left;
	margin: 0 0.5em;
	text-align: center;
	color: #0457a9;
	background: #fff;
	border-top: 6px solid #0457a9;
	-webkit-border-bottom-left-radius: .6em;
	-moz-border-bottom-left-radius: .6em;
	border-bottom-left-radius: .6em;
	-webkit-border-bottom-right-radius: .6em;
	-moz-border-bottom-right-radius: .6em;
	border-bottom-right-radius: .6em;
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	transition: .5s;
}
a.tile-img {
	background-image: url(images/sprite_services_blue_white.png);/* sprite size 140 px*/
	line-height: 10em !important;
}
.tiles > a.tile-img:hover {
	background-image: url(images/sprite_services_blue_green.png);/* sprite size 64 x 72 px*/
}
.tiles > a:hover {
	border-top-color: #b6ec77;
	color: #fff;
}
.tiles > a {
	line-height: 6.3em;
	margin: 1.2em .37em;
}
.service-tiles .tiles > a span {
	padding: .5em;
}
.tiles > a span {
	display: inline-block;
	line-height: 1em;
	vertical-align: middle;
}
.tile-img.serv-tax-year {
	background-position: 0px 0em;
}
.tile-img.serv-payg {
	background-position: -140px 0em;
}
.tile-img.serv-payroll {
	background-position: -280px 0em;
}
.tile-img.serv-superannuation {
	background-position: -420px 0em;
}
.tile-img.serv-bas-statements {
	background-position: 0em -140px;
}
.tile-img.serv-tax-dedutions {
	background-position: -140px -140px;
}
.tile-img.serv-property-advice {
	background-position: -280px -140px;
}
.tile-img.serv-financing {
	background-position: -420px -140px;
}
.service-container ul.list-container > li a {
	padding-left: 5em !important;
	color: #000;
}
.service-container ul.list-container > li:hover, .service-container ul.list-container > li.current {
	background-color: #00a890;
}
.service-container ul.list-container > li:hover a, .service-container ul.list-container > li.current a {
	color: #fff;
}
.service-container ul.list-container > li:after {
	content: '';
	background: url(images/sprite_services_internal.png) no-repeat;
	width: 41px;
	height: 36px;
	display: block;
	position: absolute;
	left: 2em;
	top: .8em;
}
.service-container ul.list-container > li:hover:after, .service-container ul.list-container > li.current:after {
	background: url(images/sprite_services_internal_green.png) no-repeat;
}
.service-container ul.list-container > li.serv-tax-year:after {
	background-position: 0px 0em;
}
.service-container ul.list-container > li.serv-payg:after {
	background-position: -41px 0em;
}
.service-container ul.list-container > li.serv-payroll:after {
	background-position: -82px 0em;
}
.service-container ul.list-container > li.serv-superannuation:after {
	background-position: -123px 0em;
}
.service-container ul.list-container > li.serv-bas-statements:after {
	background-position: 0em -36px;
}
.service-container ul.list-container > li.serv-tax-dedutions:after {
	background-position: -41px -36px;
}
.service-container ul.list-container > li.serv-property-advice:after {
	background-position: -80px -36px;
}
.service-container ul.list-container > li.serv-financing:after {
	background-position: -123px -36px;
}
/* END TILES */

/* PAGE CONTAINERS */

.news-container, .service-container, .testimonial-container {
	background: #f5f5f5;
	border-top: .6em solid;
	padding: 4em;
	padding-top: .9em;
	margin-top: 1.2em;
	-o-transition: .2s;
	-ms-transition: .2s;
	-moz-transition: .2s;
	-webkit-transition: .2s;
	transition: .5s;
	overflow: auto;
}
article .news-container, article .service-container, article .testimonial-container {
	padding-top: 3.5em;
}
.news-container {
	border-top-color: #0457a9;
}
.service-container {
	border-top-color: #00a890;
}
.testimonial-container {
	border-top-color: transparent;
	margin-bottom: 3em;
}
section#testimonials > div > div:first-of-type {
	border-top-color: #00a890;
}
#testimonials h1, #testimonials h2, #testimonials h3, #testimonials h4, #testimonials h5,  .testimonials-container h3, .testimonials-container span {
	color: #00a890;
}
/* END PAGE CONTAINERS */

/* SECTION NEWS*/

aside#news {
	margin-top: 3em;
}
#news.pg-home {
	background: url("images/bgs/bg-news-section-top.gif") top right no-repeat;
	position: relative;
}
#news.pg-home .bg-section-bottom {
	background-image: url("images/bgs/bg-news-section-bottom.gif");
}
#news.pg-home > .container {
	background-image: url(images/bgs/bg-news.png);
	background-position: 1.5em 4em;
}
.news-container-bottom {
	background: #E8E8E8;
	padding: 1.5em 4em;
	margin-bottom: 3.3em;
}
ul.list-container > li {
	font-size: 1.7em;
	font-weight: bold;
	position: relative;
}
#news h3 a, ul.list-container > li a {
	color: #0457a9;
}
.col-left ul.list-container > li a {
	padding: 1em 2.35em; /* 40px */
	font-weight: bold;
}
ul.list-container {
	margin: 0 -4em;
}
ul.list-container > li:hover {
	background-color: #eee;
}
ul.list-container > li span {
	font-size: .9em !important;
	display: block;
	margin-bottom: 0 !important;
}
#news.pg-home .news-container:hover {
	background-color: #0457a9;
	border-top: .6em solid #9fcf67;
	color: #ffffff;
}
#news.pg-home .news-container:hover span, .news-container:hover h3 {
	color: #ffffff !important;
}
#news.pg-home .news-container:hover .button-blue {
	background-color: #9fcf67;
}
#news h1, #news h2, #news h3, #news h4, #news h5,  .news-container h3, .news-container span {
	color: #0457a9;
}
.news-container span, .news-container p, .service-container p, .testimonial-container p {
	font-size: 1.5em;
}
.main-container .news-container span {
	font-size: 1.3em;
	display: block;
	margin-top: -.5em;
	margin-bottom: 1em;
}
.news-container h3 {
	font-size: 3.6em;
}
.main-container .news-container h3 {
	font-size: 3em;
}
.news-container p {
	margin-top: 0;
}
/* END NEWS SECTION */

/* SECTION */

#industry h2 {
	color: #00a890;
	line-height: 1.2em;
	margin-bottom: 0.75em; /* 40px*/
}
#industry > .container {
	background-image: url(images/bgs/bg-industry.png);
	background-position: 1.5em 4.1em;
}
#industry .tiles > a:hover {
	border-top-color: #00a890; /*#00a890*/
	background-color: #0457a9;
}
/* END SECTION */

/* SECTION TESTIMONIALS*/

#testimonial {
	background: url("images/bgs/bg-testimonials-section-top.gif") top right no-repeat;
	position: relative;
}
#testimonial .bg-section-bottom {
	background-image: url("images/bgs/bg-testimonials-section-bottom.gif");
}
#testimonial h2 {
	color: #00afef;
}
#testimonial > .container {
	background-image: url(images/bgs/bg-testimonials.png);
	background-position: 1.5em 4.2em;
}
.tetimonial-quotes {
	margin-top: 3em;
}
.tetimonial-quotes img {
	background-color: #00a890;
}
.pg-home .tetimonial-quotes img {
	background-color: #00afef;
}
.testimonial-img {
	float: right;
	margin-top: 3em;
}
.testimonial-txt span {
	font-size: 1.6em;
	font-weight: bold;
}
/* END SECTION TESTIMONIALS*/

/* SECTION CONTACT US */

#contact-us h2, #pages h1 {
	color: #0457a9;
}
#contact-us form input[type='text'], #contact-us form input[type='email'], #contact-us form textarea {
	background: #ffffff;
	padding: 1.3em 0.5em;
	width: 100%;
	margin-bottom: .5em;
}
#contact-us form input[type="submit"] {
	  width: 100%;
	background-color: #0457a9;
	padding-bottom: .7em;
	padding-top: .7em;
	color: #fff;
	text-align: center;
	cursor: pointer;
	font-size: 1.3em;
}
#contact-us form textarea {
	height: 8.8em;
	padding: 1em 0.5em;
}

::-webkit-input-placeholder {
color:#0457a9;
}

::-moz-placeholder {
color:#0457a9;
} /* firefox 19+ */

:-ms-input-placeholder {
color:#0457a9;
} /* ie */
 input:-moz-placeholder {
color:#0457a9;
}
/* END SECTION CONTACT US */

/* SECTION LINKS FOOTER */

#links-footer {
	background: url("images/bgs/bg-footer-links-section.gif") right top no-repeat #bfc2c5;
}
#links-footer ul > li a {
	color: #ffffff;
}
#links-footer ul > li {
	font-size: 2.5em;
	float: left;
	padding: 2em 3em; /* 50 / 75 px */
}
#links-footer ul > li:first-child {
	padding-left: 0;
}
#links-footer ul > li:last-child {
	padding-right: 0;
}
/* END SECTION LIKS FOOTER */

#copyright {
	font-size: 1.2em;
	background-color: #292b2d;
	padding: 3em 0;
	color: #ffffff;
}
#copyright a {
	display: inline-table;
	color: #ffffff;
}
#copyright span {
	padding: 0 2em;
}
/* CONFIG */

.blue {
	color: #0457a9;
}
.button-blue {
	font-size: 1.7em;
	color: #ffffff;
	text-align: center;
	background-color: #0457a9;
	font-weight: bold;
	padding: .5em 1.2em;
	display: inline-block;
	border-radius: .3em;
}
.button-blue-green:hover {
	background-color: #9fcf67;
}
.bg-blue-grey {
	background-color: #e7ebf4;
}
.bg-section-bottom {
	position: absolute;
	bottom: 0;
	width: 314px;
	height: 261px;
	background-position: left bottom;
	background-repeat: no-repeat;
	z-index: -1;
}

/* SEARCH */
ul#search-list a {
	  color: #0457a9;
}
/* end search*/