/* Large Devices, Wide Screens */
@media only screen and (min-width : 992px) {
    a.tiles-first {
        margin-left: 0 !important;
    }
    a.tiles-last{
        margin-right: 0 !important;
    }

}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .col-left, .col-size-1, .col-size-2, .col-size-3, .col-size-4 { width: 100%; padding-right: 0;}
    .col-right { width: 100%;}
    #services.pg-home .container, #news.pg-home .container, #industry.pg-home .container, #testimonial.pg-home .container, #contact-us .container {
        padding-top: 2em;
        padding-bottom: 3em;
    }
    #services .container h2, #news .container h2, #industry .container h2, #testimonial .container h2 {
        margin-left: 1.6em;
    }
	#industry h2 {
	line-height:none;
	}
    .service-tiles {
        margin: 0 auto;
        width: 64em;
    }
    .service-staff, #services p  {
        display: none;
    }
	/* HEADER SETINGS*/
	section#header .main-menu {
		display: none;
	}
	section#header .logo {
		position: absolute;
		margin: 0;
		margin-top: 1em;
	}
	section#header .logo img {
	  width: 18em;
	}
	section#header .container {
	  height: 6.5em;
	}
	section#header .search {
	  position: absolute;
	  left: 23em;
	}
	section#header .phone {
	  position: absolute;
	  right: 5em;
	}
	/* end header*/
	#links-footer ul > li {
		font-size: 1.95em;
		float: none;
		padding: none;
		text-align: center;
	}
	.search .col-left {
		display: none;
	}
	
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.two-col {
		width: 100%;
	}
	section#header .phone span {
	  display: none;
	}
}
@media only screen and (max-width : 690px) {
    .service-tiles {
        width: 100%;
    }
	section#header .search {
		display: none;
	}
	#slider-internal {
		  min-height: 8em;
	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	#slider-internal {
		  min-height: 6em;
	}
}
@media only screen and (max-width : 479px) {
	#slider-internal {
		  min-height: 5em;
	}
	section#header .phone {
	  display: none;
	}
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	
}