@charset "UTF-8";
/* CSS Document */

/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}

/* BODY CONFIGURATION */
body {}

.container {
	width: 960px;
	margin: 0 auto;
}

/* PAGE HEADER */
.header {
	height: 130px;
	background-color: #FFFFFF;
}
.logo {
	height: 163px;
	width: 223px;
	background: url(images/bg_logo.png) repeat-x #093187;
	float: left;
}
.fone {
	background-color: #0B2F83;
	height: 34px;
	width: 245px;
	float: right;
	display: block;
	}
.slider {
	
	}
	.slider-img {
		height: 427px;
		background: url(images/slider.jpg) no-repeat center;}
	.slider-txt { height: 250px; }
	
.footer { background: #4A4A4A;
		height: 245px; }
		
.copyrights { background: #181818;
		height: 47px; }